<div class="row justify-content-center">
    <div class="col-8">
        <h1>ACERCA DE NOSOTROS</h1>
        <p>Somos una empresa 100% nacional, con más de 40 años de trayectoria en la comercialización de calzado, indumentaria y artículos deportivos.
            Contamos con más de 560 Colaboradores, 26 sucursales y a través de nuestro E-commerce llegamos a satisfacer la demanda de nuestros clientes en todo el país.
            Ofrecemos las mejores marcas, el más amplio stock y atención personalizada en nuestros locales.
            Nuestra marca es un clásico que acompaña día a día la pasión de los argentinos.
        </p>
        <h4>Gracias por su visita!!!</h4>
        <p><a href="https://github.com/PieresAgustin/Tienda-Web-Angular" target="_blank">Repositorio del Frontend</a></p>
        <p><a href="https://github.com/PieresAgustin/Tienda-Web-NestJS" target="_blank">Repositorio del Backend</a></p>
    </div>
</div>