<table class="table border border-primary table-striped">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Monto</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let product of products">
            <tr>
                <td><img src="{{product.image}}" alt="{{product.name}}"></td>
                <td>{{product.quantity}}</td>
                <td>{{product.price | currency:'ARS'}}</td>
            </tr>
        </ng-container>
        <!-- <tr>
            <td>botines</td>
            <td>2</td>
            <td>35000</td>
        </tr> -->
    </tbody>
</table>
<p class="text-bg-info p-3">Total: {{total | currency:'ARS'}}</p>
<button type="button" class="btn btn-primary">Comprar</button>