<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Talle</th>
        <th scope="col">Color</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <th><img src="{{product.image}}" alt="{{product.name}}"></th>
        <th>{{product.name}}</th>
        <td>{{product.type}}</td>
        <td>{{product.waist}}</td>
        <td>{{product.color}}</td>
        <td>{{product.price}}</td>
      </tr>
      <tr>
        <th>Jacob</th>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th>@fat</th>
        <td>@twitter</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
</tbody>

</table>