<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Talle</th>
      <th scope="col">Color</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let product of products">
      <tr [ngClass]="{'clearance': product.clearance}">
       <!-- <td><img src="{{product.image}}" alt="{{product.name}}"></td> -->
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.waist}}</td>
        <td>{{product.color}}</td>
        <td>{{product.price | currency: 'ARS'}}</td>
        <td>{{product.stock}}</td>
        <td>
          <div class="input-group input-group-sm mb-3">
            <button type="button" class="btn btn-default btn-m" (click)="upQuantity(product)">+</button>
            <input class ="form-control form-control-sm" type= "number" [(ngModel)]="product.quantity" (focusout)="verifyProductsQuantity(product)"/>
            <button type=" button" class="btn btn-default btn-m" (click)="downQuantity(product)">-</button>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>